@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-button {
  width: 3px;
  height: 5px;
  border-radius: 2px;
}

::-webkit-scrollbar-track {
  background: #f2f2f2;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: #bebebe;
  opacity: 80%;
  border-radius: 8px;
}

.no-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

/* ----- React Select ----- */
.react-select__control {
  border: 1px solid #b4d3ce !important;
  border-radius: 6px !important;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05) !important;
  background-color: transparent !important;
  height: 40px;
}

.react-select__control:hover {
  border-color: none !important;
}

.react-select__control--is-focused {
  border-color: #04a88c !important;
}

.react-select__placeholder {
  color: #0f524847 !important;
  font-size: 14px !important;
}

.react-select__multi-value {
  background-color: #d7eee6 !important;
  border-radius: 20px !important;
  padding: 0 5px !important;
  border: 1px solid #a7dfd7 !important;
}

.react-select__multi-value__remove:hover {
  background-color: transparent !important;
}

.react-select__indicator {
  cursor: pointer !important;
}

/* ----- Editor ----- */
.editor-text-strikethrough {
  text-decoration: line-through;
}
