@tailwind base;
@tailwind components;
@tailwind utilities;

/* ----- Input ----- */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-background-clip: text;
  transition: background-color 5000s ease-in-out 0s;
  box-shadow: inset 0 0 20px 20px #e8fff8;
}

/* ----- Table ----- */
th:first-child {
  border-left-style: solid !important;
}
th:last-child {
  border-right-style: solid !important;
}

td:first-child {
  border-left-style: solid !important;
}
td:last-child {
  border-right-style: solid !important;
}

/* ----- Accordion ----- */
.AccordionChevron {
  transition: transform 300ms;
}
.AccordionTrigger[data-state='open'] > .AccordionChevron {
  transform: rotate(180deg);
}
