@import "tailwindcss";
@source "../../../apps/**/*.{ts,tsx}";
@source "../../../components/**/*.{ts,tsx}";
@source "../**/*.{ts,tsx}";

@import "tw-animate-css";
@plugin "tailwind-scrollbar";

@custom-variant dark (&:is(.dark *));

@theme {
  /* Container */
  --container-padding: 2rem;

  /* Font Sizes */
  --text-xs: 12px;
  --text-sm: 14px;
  --text-base: 16px;
  --text-md: 18px;
  --text-2md: 20px;
  --text-lg: 22px;
  --text-xl: 24px;
  --text-2xl: 26px;
  --text-3xl: 32px;

  /* Border Radius */
  --radius-base: 6px;

  /* Background Colors */
  --color-background: oklch(96.61% 0.0055 183.03);
  --color-upload: oklch(0.99 0.0034 174.49);

  /* Placeholder Colors */
  --color-placeholder: oklch(0.76 0.03 162);

  /* Brand Colors */
  --color-brand-50: oklch(98.46% 0.017 174.08);
  --color-brand-55: oklch(0.98 0.0257 175.6);
  --color-brand-100: oklch(95.65% 0.0574 175.87);
  --color-brand-200: oklch(91.92% 0.1068 174.08);
  --color-brand-300: oklch(87.42% 0.1434 173.78);
  --color-brand-400: oklch(80.85% 0.149 173.95);
  --color-brand-500: oklch(72.93% 0.1383 173.52);
  --color-brand-600: oklch(65.34% 0.1226 175.08);
  --color-brand-700: oklch(52.8% 0.0963 176.89);
  --color-brand-800: oklch(44.95% 0.0779 180.34);
  --color-brand-900: oklch(39.59% 0.0659 180.18);
  --color-brand-tag: oklch(93% 0.0265 172.85);

  /* Neutral Colors */
  --color-neutral-50: oklch(97.66% 0.0034 174.48);
  --color-neutral-100: oklch(92.59% 0.0154 171.03);
  --color-neutral-200: oklch(84.91% 0.029 174.38);
  --color-neutral-300: oklch(74.87% 0.0434 177.23);
  --color-neutral-400: oklch(64.05% 0.0517 177.67);
  --color-neutral-500: oklch(55.11% 0.0512 178.39);
  --color-neutral-600: oklch(49.61% 0.0461 179.94);
  --color-neutral-700: oklch(40.79% 0.0337 181.73);
  --color-neutral-800: oklch(36% 0.0274 181.58);
  --color-neutral-900: oklch(32.63% 0.0204 181.35);
  --color-neutral-950: oklch(28.53% 0.0498 184.22);
  --color-neutral-1000: oklch(22.84% 0.0158 189.12);

  /* Danger Colors */
  --color-danger-100: oklch(91.11% 0.046 29.64);
  --color-danger-200: oklch(78.61% 0.1083 35.69);
  --color-danger-300: oklch(59.92% 0.1949 35.81);
  --color-danger-400: oklch(54.71% 0.1698 34.82);
  --color-danger-500: oklch(51.82% 0.2055 28.5);

  /* Success Color */
  --color-success: oklch(70.92% 0.1973 137.82);

  /* Border Colors */
  --color-border-100: oklch(93.88% 0.0141 185.94);
  --color-border-200: oklch(88.52% 0.0386 184.27);
  --color-border-300: oklch(89.25% 0.0153 186.66 / 78.04%);
  --color-border-400: oklch(0.75 0.0434 177.23 / 47.84%);

  /* Table Colors */
  --color-table-header: oklch(29.86% 0.0401 184.92);
  --color-table-border: oklch(92.5% 0.0164 182.69);

  /* Upload Colors */
  --color-upload-100: oklch(95.25% 0.0287 185.95 / 67.06%);
  --color-upload-200: oklch(99.15% 0.0034 174.49);

  /* Card Colors */
  --color-card-100: oklch(94.62% 0.0254 268.85);

  /* Sidebar Colors */
  --color-sidebar: oklch(0.985 0 0);
  --color-sidebar-foreground: oklch(0.145 0 0);
  --color-sidebar-primary: oklch(0.205 0 0);
  --color-sidebar-primary-foreground: oklch(0.985 0 0);
  --color-sidebar-accent: oklch(0.97 0 0);
  --color-sidebar-accent-foreground: oklch(0.205 0 0);
  --color-sidebar-border: oklch(0.922 0 0);
  --color-sidebar-ring: oklch(0.708 0 0);

  /* Box Shadows */
  --shadow-card: 0px 0px 16px 0px oklch(88.04% 0.0367 183.64 / 50.2%);
  --shadow-sm: 0px 0px 4px 0px oklch(71.17% 0.0212 17.66 / 25.1%);
  --shadow-base: 0px 0px 4px 0px oklch(93.7% 0 0);
  --shadow-search-input: 0px 2.49px 2.49px 0px oklch(0% 0 0 / 3.92%);

  --chart-1: 220, 100%, 53%;
  --chart-2: 35, 100%, 50%;
  --chart-3: 197 37% 24%;
  --chart-4: 43 74% 66%;
  --chart-5: 27 87% 67%;
}

@layer base {
  * {
    @apply border-gray-200;
  }

  body {
    @apply bg-white text-black;
  }
}

/* Animation Keyframes */
@keyframes accordion-down {
  from {
    height: 0;
  }
  to {
    height: var(--radix-accordion-content-height);
  }
}

@keyframes accordion-up {
  from {
    height: var(--radix-accordion-content-height);
  }
  to {
    height: 0;
  }
}

.animate-accordion-down {
  animation: accordion-down 0.2s ease-out;
}

.animate-accordion-up {
  animation: accordion-up 0.2s ease-out;
}

/* Container Styles */
.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: var(--container-padding);
  padding-right: var(--container-padding);
}

@media (min-width: 1400px) {
  .container {
    max-width: 1400px;
  }
}

/* ----- Input ----- */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-background-clip: text;
  transition: background-color 5000s ease-in-out 0s;
  box-shadow: inset 0 0 20px 20px #e8fff8;
}

/* ----- Table ----- */
/* th:first-child {
  border-left-style: solid !important;
}

th:last-child {
  border-right-style: solid !important;
}

td:first-child {
  border-left-style: solid !important;
}
td:last-child {
  border-right-style: solid !important;
} */

/* ----- Accordion ----- */
.AccordionChevron {
  transition: transform 300ms;
}
.AccordionTrigger[data-state="open"] > .AccordionChevron {
  transform: rotate(180deg);
}

/* ----- Scroll bar ----- */
/* ::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-button {
  width: 3px;
  height: 5px;
  border-radius: 2px;
}

::-webkit-scrollbar-track {
  background: #f2f2f2;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: #bebebe;
  opacity: 80%;
  border-radius: 8px;
}

.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
} */

/* ----- React Select ----- */
.react-select__control {
  border: 1px solid #bee2dc !important;
  border-radius: 6px !important;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05) !important;
  background-color: transparent !important;
  min-height: 40px !important;
}

.react-select__control:hover {
  border-color: none !important;
}

.react-select__control--is-focused {
  border-color: #04a88c !important;
}

.react-select__placeholder {
  color: #2f575350 !important;
  font-size: 14px !important;
}

.react-select__multi-value {
  background-color: #d7eee6 !important;
  border-radius: 20px !important;
  padding: 0 5px !important;
  border: 1px solid #a7dfd7 !important;
}

.react-select__multi-value__remove:hover {
  background-color: transparent !important;
}

.react-select__indicator {
  cursor: pointer !important;
}

/* ----- Editor ----- */
.editor-text-strikethrough {
  text-decoration: line-through;
}
