<table
  role="presentation"
  cellspacing="0"
  cellpadding="0"
  border="0"
  width="100%"
>
  <tr style="background-color: #000000">
    <td align="left" style="padding: 24px">
      <p
        style="
          font-size: 14px;
          font-weight: 600;
          color: #ffffff;
          margin-bottom: 1px;
        "
      >
        Thank you for shopping!
      </p>
      <p style="font-size: 12px; color: #9a9393">ATX eCommerce</p>
    </td>
    <td align="right" style="padding: 24px">
      <p
        style="
          font-size: 14px;
          font-weight: 600;
          color: #ffffff;
          margin-bottom: 1px;
        "
      >
        Need Help?
      </p>
      <p style="font-size: 12px; color: #9a9393">Contact Us: 09123456789</p>
    </td>
  </tr>
</table>
